* {
    margin: 0%;
    padding: 0%;
}

body {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(255, 253, 253);
    padding: 0 20px 20px 20px;
    border: 1px solid rgba(36, 41, 46);
}

header {
    width: 100%;
    height: 120px;
    background-color: rgba(36, 41, 46);
    margin: auto auto;
    border: 1px solid black;
}

h1 {
    font-size: 500%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: rgba(255, 255, 221);
    text-shadow: 2px 1px 1px rgba(36, 174, 221)
}

#uno {
    border: 0px solid black;
    width: 100%;
    display: flex;
}

#inicial {
    border: 0px solid black;
    width: 40%;
    padding: 2%;
    margin: 2%;
    font-size: 150%;
    text-align: left;
    display: inline-block;
}

.title1 {
    font-size: 170%;
    padding: 2%;
    text-align: center;
}

.git {
    color: red;
}

#segundo {
    border: 0px solid black;
    width: 40%;
    height: 40%;
    padding: 2%;
    margin: 2%;
    font-size: 150%;
    text-align: left;
    display: inline-block;
}

#tercero {
    border: 0px solid black;
    width: 40%;
    height: 40%;
    padding: 2%;
    margin: 2%;
    font-size: 150%;
    text-align: left;
    display: inline-block;
}

#dos {
    border: 0px solid black;
    width: 100%;
    display: flex;
}

#cuarto {
    border: 0px solid black;
    padding: 2%;
    margin: 2%;
    width: 40%;
}

h3 {
    text-align: center;
}

aside {
    border: 0px solid black;
    background-color: gray;
    padding: 2%;
    width: 40%;
    right: 3%;
}

#video {
    border: 0px solid black;
    right: 3px;
    padding: 2%;
    width: 38%;
    height: 30%;
}